<%= render "modal" %>

<div class="main-container">

   <div id="shaker">
      <svg height = "500" data-toggle="modal" data-target="#myModal" class="shaker" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><rect fill="none" width="100" height="100"/><path d="M59.227,18.988h-3.133v-7.632c0-1.133-0.918-2.051-2.049-2.051h-8.089c-1.132,0-2.05,0.918-2.05,2.051v7.632h-3.133  c0,0-8.202,6.493-9.569,15.379l4.552,56.328H50h14.245l4.553-56.328C67.43,25.481,59.227,18.988,59.227,18.988z"/></svg>
   </div>

   <div class="drinks-container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="glass-card cocktail-image background-hidden" id="<%= cocktail.name %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo %>')">
            <svg height = "300" class="glass" xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve">><switch><foreignObject requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/" x="0" y="0" width="1" height="1"/><g i:extraneous="self"><path d="M77.8,32.7l-5-29.2c-0.1-0.6-0.6-1-1.2-1H28.4c-0.6,0-1.1,0.4-1.2,1l-5,29.2c-1.2,7.2,0.1,14.6,4.1,20.7    c4.5,6.8,11.4,11.2,19.2,12.4c1.3,0.2,2.3,1.4,2.3,2.7v21.7c0,1.4-1,2.6-2.4,2.8L31.3,95c-0.4,0.1-0.7,0.4-0.7,0.8v0.8    c0,0.5,0.4,0.9,0.9,0.9h37c0.5,0,0.9-0.4,0.9-0.9v-0.8c0-0.4-0.3-0.8-0.7-0.8l-13.9-1.9c-1.4-0.2-2.4-1.4-2.4-2.8V68.6    c0-1.4,1-2.5,2.3-2.7c7.7-1.2,14.7-5.7,19.1-12.4C77.7,47.4,79,39.9,77.8,32.7z"/></g></switch></svg>
            <div class="glass-card-title hidden">
            <%= link_to cocktail.name, cocktail_path(cocktail)  %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
   </div>

 </div>







